/**
 * wongUi for uniApp  v1.0 
   by 王汉卿
 */

/* 列表条 */


.list-bar {
	display: flex;
	position: relative;
	padding-left: 20upx;
	align-items: center;
	min-height: 100upx;
	justify-content: space-between;
	color: #2c2c2c;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* 宫格grid */
.grid-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

.grid-item-col3 {
	flex: 0 0 auto;
	width: 33.33333%;
	text-align: center;
	color: #797979;
	padding: 30rpx 0;
	font-size: 30rpx;
}

.grid-item-col4 {
	flex: 0 0 auto;
	width: 25%;
	text-align: center;
	color: #797979;
	padding: 20rpx 0;
	font-size: 30rpx;
	box-sizing: border-box;
	border-right: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
}

/* form表单 */
.w-form {
	background-color: #ffffff;
	padding: 1upx 30upx;
	display: flex;
	align-items: center;
	min-height: 100upx;
	justify-content: flex-start;
}

.w-form+.w-form {
	border-top: 1upx solid #eee;
}

.w-form .title {
	width: 20%;
	text-align: justify;
	padding-right: 30upx;
	font-size: 30upx;
	position: relative;
	height: 60upx;
	line-height: 60upx;
}

.w-form .input {
	flex: 1;
	font-size: 30upx;
	color: #555;
	padding-right: 20upx;
}
.w-form .pikcer {
	flex: 1;
	padding-right: 40upx;
	overflow: hidden;
	position: relative;
}

/* 标签tag */
.w-cup {
	display: inline-flex;
	vertical-align: middle
}

.w-tag {
	font-size: 24upx;
	vertical-align: middle;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 0upx 16upx;
	height: 48upx;
	font-family: Helvetica Neue, Helvetica, sans-serif;
	white-space: nowrap;
}

/* search */
.search-bar {
	background-color: #f5f5f5;
	line-height: 64upx;
	height: 64upx;
	font-size: 24upx;
	color: #333333;
	flex: 1;
	display: flex;
	align-items: center;
	margin: 0 30upx;
	border-radius: 40upx;
}

/* 盒子 */
.box-f {
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
}

.box-b {
	display: block;
}

/* 边距 */
.margin-tb {
	margin-top: 20upx;
	margin-bottom: 20upx;
}

.margin {
	margin: 20upx;
}

.margin-left {
	margin-left: 40upx;
}

/* 色彩 */
.white-color {
	color: #FFFFFF;
}

.red-color {
	color: ##FF0000;
}

/* button */
.w-btn {
	position: relative;
	border: 0upx;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 0 30upx;
	font-size: 28upx;
	height: 64upx;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	overflow: visible;
	margin-left: initial;
	transform: translate(0upx, 0upx);
	margin-right: initial;
}

.w-btn.button-hover {
	transform: translate(1upx, 1upx);
}

.w-btn::after {
	display: none;
}

/* 大按钮 */
.big {
	padding: 0 40upx;
	font-size: 32upx;
	width: 90%;
	height: 80upx;
}

/* 中按钮 */
.sm {
	padding: 0 20upx;
	font-size: 20upx;
	height: 48upx;
}

.radius {
	border-radius: 60upx;
}

.hollow-red {
	border: 1upx solid #ff0000;
	color: #ff0000;
}

.hollow-blue {
	border: 1upx solid #007AFF;
	color: #007AFF;
}

.hollow-black {
	border: 1upx solid #2c2c2c;
	color: #2c2c2c;
}

/* 背景 */

.bg-white {
	background-color: #FFFFFF;
}

.bg-black {
	background-color: #2C2C2C;
}

.bg-blue {
	background-color: #007AFF;
}

.bg-grey {
	background-color: #c0c4cc;
}

/* 线条 */
.w-border {
	border: 1upx solid #808080;
}
.line-red {
	color: #FF0000;
}

.line-red::after {
	border-color: #ff0000;
}

.line-black {
	color: #2C2C2C;
}
.line-black::after {
	border-color: #2C2C2C;
}

/* 阴影 */
.shadow {
	box-shadow: 6upx 6upx 8upx #2C2C2C;
}
